footer {
    color: white;
    text-align: center;
    padding: 2em;
    font-family: 'Roboto', sans-serif;
}

footer a {
    color: white;
    text-decoration: none;
}

footer img {
    width: 20px;
    vertical-align: middle;
}

footer a:nth-child(1) {
    font-weight: bold;
}